.chart {
    background: #080808;
    padding: 3px;
}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}
header {
  margin-bottom: 100px;
}
.list-group-item:last-child {
  margin-top: 25px;
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
footer{
  margin-top: 200px;
}
button.list-group-item {
    margin-top: 25px;
    width: 100%;
    text-align: left;
}
.item {
  height: 150px;
}
svg{
  width: 100px;
  height: 100px;
}
.myContainer{
  width: 95%;
  margin-left: 20px;
  margin-right: 20px;
}
hr {
  border-top: 1px solid #868080;
}
p .next::nth-child{
display: none;
}
